<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Generic - Editorial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Generic</h1>
									</header>

									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>

									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

									<hr class="major" />

									<h2>Interdum sed dapibus</h2>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

									<hr class="major" />

									<h2>Magna etiam veroeros</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
									<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>

									<hr class="major" />

									<h2>Lorem aliquam bibendum</h2>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>

								</section>

						</div>
					</div>
					<%-include("partials/side-menu")%>
				
		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>





<%if(blogs.length>0){%>
	<section>
		<header class="major">
			<h2>Recent Blogs</h2>
		</header>
		<div class="posts">
		<% if(blogs.length<2){ %>
			<% for(var i=blogs.length-1;i>=0;i--){ %>
				<article>
					<%if(blogs[i].preview_image){ %>
						<a href="/blogs/<%=blogs[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=blogs[i].id%>" class="image"><img src="<%=url%><%=blogs[i].preview_image.url%>" alt="" /></a>
					<%}%>
					<h3><%=blogs[i].title%></h3>
					<%if(blogs[i].preview_text){%>
						<p><%=blogs[i].preview_text.substring(0,200)%></p>
					<%}%>		
					<%if(blogs[i].category){%>		
					<strong><p style="font-style: italic;">(Category: <%=blogs[i].category%>)</p></strong>
					<%}%>
					<ul class="actions">
						<li><a href="/blogs/<%=blogs[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=blogs[i].id%>" class="button">Read</a></li>
					</ul>
				</article>
				<%}%>
				<a href="/blogs">View all blogs...</a>
		<%}else{ %>
			<% for(var i=blogs.length-1;i>=blogs.length-2;i--){ %>
			<article>
				<%if(blogs[i].preview_image){ %>
					<a href="/blogs/<%=blogs[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=blogs[i].id%>" class="image"><img src="<%=url%><%=blogs[i].preview_image.url%>" alt="" /></a>
				<%}%>
				<h3><%=blogs[i].title%></h3>
				<%if(blogs[i].preview_text){%>
					<p><%=blogs[i].preview_text.substring(0,200)%></p>
				<%}%>		
				<%if(blogs[i].category){%>		
					<strong><p style="font-style: italic;">(Category: <%=blogs[i].category%>)</p></strong>
				<%}%>
					<ul class="actions">
						<li><a href="/blogs/<%=blogs[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=blogs[i].id%>" class="button">Read</a></li>
					</ul>
			</article>
			<%}%>
		<%}%>
		</div>
		<a href="/blogs">View all blogs...</a>
	</section>
	<%}%>



								<%if(stories.length>0){%>
									<section>
										<header class="major">
											<h2>Recent Short Stories</h2>
										</header>
										<div class="posts">
										<% if(stories.length<2){%>
											<% for(var i=stories.length-1;i>=0;i--){ %>
											<article>
												<%if(stories[i].preview_image.length!=0){ %>
												<a href="/stories/<%=stories[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=stories[i].id%>" class="image"><img src="<%=url%><%=stories[i].preview_image.url%>" alt="" /></a>
												<%}%>
												<h3><%=stories[i].title%></h3>
												<%if(stories[i].preview_text){%>
													<p><%=stories[i].preview_text.substring(0,200)%></p>
												<%}%>
												<strong><p style="font-style: italic;">(Category: <%=stories[i].category%>)</p></strong>
												<ul class="actions">
													<li><a href="/stories/<%=stories[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=stories[i].id%>" class="button">Read</a></li>
												</ul>
											</article>
											<%}%>
										<%} else{ %>
											<% for(var i=stories.length-1;i>=stories.length-2;i--){ %>
												<article>
													<%if(stories[i].preview_image.length!=0){ %>
													<a href="/stories/<%=stories[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=stories[i].id%>" class="image"><img src="<%=url%><%=stories[i].preview_image.url%>" alt="" /></a>
													<%}%>
													<h3><%=stories[i].title%></h3>
													<%if(stories[i].preview_text)%>
													<p><%=stories[i].preview_text.substring(0,200)%></p>
													<%}%>
													<%if(stories[i].category){%>
														<strong><p style="font-style: italic;">(Category: <%=stories[i].category%>)</p></strong>
													<%}%>
													<ul class="actions">
														<li><a href="/stories/<%=stories[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=stories[i].id%>" class="button">Read</a></li>
													</ul>
												</article>
												<%}%>
											<%}%>
										</div>
										<a href="/stories">View all short stories...</a>
									</section>
									<%}%>
	
	
									<%if(fictions.length>0){%>
									<section>
										<header class="major">
											<h2>Recent Flash Fictions</h2>
										</header>
										<div class="posts">
										<% if(fictions.length<2){ %>
											<% for(var i=fictions.length-1;i>=0;i--){ %>
											<article>
												<%if(fictions[i].preview_image){ %>
												<a href="/fictions/<%=fictions[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=fictions[i].id%>" class="image"><img src="<%=url%><%=fictions[i].preview_image.url%>" alt="" /></a>
												<%}%>
												<h3><%=fictions[i].title%></h3>
												<%if()
												<p><%=fictions[i].preview_text.substring(0,200)%></p>
												<%if(fictions[i].category){%>
												<strong><p style="font-style: italic;">(Category: <%=fictions[i].category%>)</p></strong>
												<%}%>
												<ul class="actions">
													<li><a href="/fictions/<%=fictions[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=fictions[i].id%>" class="button">Read</a></li>
												</ul>
											</article>
											<%}%>
										<%} else{ %>
											<% for(var i=fictions.length-1;i>=fictions.length-2;i--){ %>
												<article>
													<%if(fictions[i].preview_image){ %>
													<a href="/fictions/<%=fictions[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=fictions[i].id%>" class="image"><img src="<%=url%><%=fictions[i].preview_image.url%>" alt="" /></a>
													<%}%>
													<h3><%=fictions[i].title%></h3>
													<%if()
													<p><%=fictions[i].preview_text.substring(0,200)%></p>
													<%if(fictions[i].category){%>
													<strong><p style="font-style: italic;">(Category: <%=fictions[i].category%>)</p></strong>
													<%}%>
													<ul class="actions">
														<li><a href="/fictions/<%=fictions[i].title.replace(/\s+/g, '-').replace(/\?/g, '.').toLowerCase()%>/<%=fictions[i].id%>" class="button">Read</a></li>
													</ul>
												</article>
												<%}%>
											<%}%>
										</div>
										<a href="/fictions">View all flash fictions...</a>
									</section>
									<%}%>
	
			